.whole-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.part-one {
  color: white;
  background-color: #1F2937;
}

.logo-and-links {
    display:flex;
    justify-content: space-between;
    padding:15px;
}


.logo{
    display:flex;
    margin: 0;
    padding: 0;
    margin-left:75px;
    width:50%;
}

h1{
  margin:0;
}

.links{
  margin-right: 75px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;  
    gap:15px;
  }

.blocks {
    display:flex;
    padding:15px;
    margin-bottom: 40px;
}

.left-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:75px;
    width: 50%;
}

button {
  width: 100px;
  background-color: #3882F6;
  color:white;7
  font-weight: bold;
}

.right-block {
  display:flex;
  text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
  } 
  a:visited { 
    text-decoration: none;
    color: white; 
  } 
  a:hover { 
    text-decoration: none;
    color: white; 
  } 
  a:active { 
    text-decoration: none;
    color: white; 
  }

  .part-two{
    margin-bottom: 40px;
  }

  .containers{
    display: flex;
    justify-content: center;
  }

  h2{
    text-align: center;
    margin: 0;
    padding:15px;
  }
  
  .box{
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .part-three{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 15px 15px 55px 15px;
  }

.quote{
  font-size: 24px;
  margin: 40px 150px 0px 150px;
}

.author{
  text-align: right;
}